<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="2">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>[%d][%highlight{%-5p}] {%t} %highlight{%m}%nat %c.%M(%F:%L)%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="com.foo.Bar" level="TRACE"/>
        <Logger name="com.foo.Bar" level="trace">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>